
@font-face {
    font-family: "RNS-Black";
    src: url("./RNS-B.ttf") format("truetype");
}

$btn-green: #009E74;
$btn-green-hover: #037362;
$btn-blue: #39579A;
$btn-blue-hover: #344E86;


$text-gray: #919191;
$text-blue: #2652ff;
$text-white: #FFFFFF;
$text-green: #05ce78;
$text-dark-gray: #656969;
$text-black: #282828;
$text-dark-green: #037362;

$border-gray: #DCDEDD;
$border-light-gray: #F1EEEA;
$border-green: #009E74;

$background-red: #fd003b;
$background-beige: #f7f7f6;

$default-font: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;;