
// @font-face {
//     font-family: "RNS BARUTA BLACK"; 
//     src: url("https://jumpstarter-pub.s3-us-west-1.amazonaws.com/bbsnr.woff") format("woff"); 
// }

// @font-face {
//     font-family: "Cooper Lt BT"; 
//     src: url("https://jumpstarter-pub.s3-us-west-1.amazonaws.com/tblc.woff") format("woff"); 
// }

@font-face {
    font-family: "RNS BARUTA BLACK"; 
    src: font-url("/app/assets/stylesheets/font/bbsnr.woff") format("woff"); 
}

@font-face {
    font-family: "Cooper Lt BT"; 
    src: font-url("/assets/stylesheets/font/tblc.woff") format("woff"); 
}

$btn-green: #009E74;
$btn-green-hover: #037362;
$btn-blue: #39579A;
$btn-blue-hover: #344E86;
$btn-dark-green: #034752;
$btn-dark-green-hover: #023239;
$btn-black-hover: #4D4D4D;
$btn-gray: #656969;

$text-light-gray: #9B9E9E;
$text-gray: #919191;
$text-dark-gray: #656969;
$text-blue: #2652ff;
$text-light-blue: rgba(43,96,255,0.9);
$text-white: #FFFFFF;
$text-logo-green: #05ce78;
$text-black: #282828;
$text-dark-green: #050505;
$text-green: #009E74;
$text-red: #FF5151;

$border-gray: #DCDEDD;
$border-light-gray: #F1EEEA;
$border-green: #009E74;

$background-red: #fd003b;
$background-beige: #f7f7f6;
$background-green: #037362;
$background-green-hover: rgba(0,158,116,1);
$background-gray: #E8E8E8;
$background-white: #fbfbfa;
$background-light-gray: #f0f0f0;

$font-default: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-subtitle: "Cooper Lt BT", Georgia, Times, "Times New Roman", serif;