@import "./style";

.discover-body-frame {
    display: flex;
    flex-direction: column;
}

.discover-grid-container {
    padding: 18px 0 30px 0;
    max-width: 1366px;
    margin: 0 auto;
}

.discover-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 36px;
    padding: 0 60px;
}

.project-item-frame {
    border: 1px solid $border-gray;
    font-weight: 300;
    letter-spacing: 0.8px;
    min-width: 389.33px;
}

.discover-title-frame{
    padding: 24px 18px 0;
}

.discover-title {
    margin: 0 0 6px;
    font-size: 18px;
    line-height: 24px;
}

.discover-title:hover {
    text-decoration: underline;
}

.discover-sub {
    margin: 0 0 20px;
    color: $text-gray;
    font-size: 14px;
    line-height: 24px;
}

.discover-creator {
    font-size: 13px;
    line-height: 16px;
}

.discover-info-container {
    padding: 18px;
    font-size: 13px;
    line-height: 18px;
}

.discover-bar-container {
    height: 3px;
    margin-bottom: 20px;
}

.text-green {
    color: $text-dark-green;
}

.text-gray {
    color: $text-dark-gray;
}

.cate-link {
    padding-top: 18px;
    text-transform: capitalize;
}

.discover-bottom-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
    padding: 0 0 60px 0;
    border-bottom: 1px solid $border-gray;
}

.no-result-frame{
    font-weight: 300;
    letter-spacing: 0.6px;
    border-bottom: 1px solid $border-gray;
}

.no-result-box {
    display: flex;
    flex-direction: column;
    padding: 60px 18px;
    max-width: 1076px;
    margin: 0 auto;
}

.no-result-text {
    margin: 0 260px 20px 0;
    font-size: 22px;
    line-height: 30px;
}

.link {
    color: $text-blue;
    font-size: 14px;
    line-height: 17px;
    margin: 0 0 12px;
}

.link:hover {
    text-decoration: underline;
}

.bolded {
    font-weight: 500;
}

.btn-container {
    width: inherit;
}

.btn-load {
    padding: 0 18px;
}