@import "./style";

button:hover{
    cursor: pointer;
}

button:focus, input:focus, textarea:focus{
    outline: none;
}

input:hover, select:hover, textarea:hover{
    border: 1px solid $border-green;
}

.hidden {
    display: none;
}

.underlined {
    text-decoration: underline;
}

.unfilled {
    border: 1px solid $text-red !important;
}

body {
    min-width: 1024px;
}
