@import "./style";

.home-projects-frame {
    display: flex;
    max-width: 1246px;
    margin: 0 auto;
    padding-bottom: 60px;
    width: 90%;
}

.home-featured-frame {
    width: 55%;
    margin: 24px 0 0 0;
    padding: 30px 60px 0 0;
    border-right: 1px solid $border-light-gray;
}

.image-container-16-9 {
    padding-top: 56.25%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.image-16-9 {
    width: 100%;
    height: 100%;
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.home-rec-frame {
    width: 45%;
    margin: 24px 0 0 0;
    padding: 30px 0 0 60px;
}

.rec-image-container {
    width: 172px;
    height: 90px;
    overflow: hidden;
}

.rec-image {
    padding: 0 24px 0 0;
}

.home-title {
    color: $text-dark-gray;
    font-weight: 500;
    font-size: 13px;
    margin: 0 0 18px 0;
}



.feat-project-title {
    font-size: 28px;
    color: $text-black;
    padding: 18px 0 12px 0;
    font-weight: 300;
    text-transform: capitalize;
    letter-spacing: 1px;

}

.feat-subtitle {
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    line-height: 24px;
    padding: 0 0 24px;
    text-transform: capitalize;
    font-weight: 100;
    letter-spacing: 0.3px;
}

.bar-frame {
    height: 12px;
    display: flex;
}

.bar-green {
    background-color: $background-green;
    height: 100%;
}

.bar-gray {
    background-color: $background-gray;
    height: 100%;
}

.attr-creator {
    font-size: 12px;
    color: $text-dark-gray;
    font-weight: 300;
}

.rec-content-frame {
    padding: 18px 0;
    display: flex;
    justify-content: flex-start;
    height: 127px;
    width: 100%;
    border-bottom: 1px solid $border-light-gray;
}

.rec-item-info {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.rec-project-title {
    font-size: 14px;
    text-transform: capitalize;
}

.rec-funding {
    font-size: 12px; 
    font-weight: 500;
    color: $text-dark-green;
    margin: 6px 0;
}

.slide-show-container {
    display: flex;
    justify-content: flex-end;
}

.slide-show {
    display: flex;
    justify-content: space-evenly;
    color: $text-light-blue;
    width: 160px;
    font-size: 16px;
    font-weight: 300;
    padding: 5px;
}

.slide-show li {
    padding: 6px 0;
}

.slide-show li:hover{
    cursor: pointer;
}

.slide-selected {
    border-bottom: 2px solid $text-light-blue;
    border-bottom-width: 2px;
}

.grayed-out {
    color: $text-light-gray;
}

.home-content {
    border-top: 1px solid $border-light-gray;
    border-bottom: 1px solid $border-light-gray;
    padding: 48px;
    margin-bottom: 150px;
    display: flex;
    justify-content: center;
}

.home-content-title {
    font-family: $font-subtitle;
    font-size: 28px;
    font-weight: 100;
}