@import "./style";

#navbar-frame {
    /* width: 100%; */
    border: 1px solid $border-light-gray;
    display: flex;
    // justify-content: space-between;
    align-items: center;
    height: 66px;
    background: white;
    position: relative;
}

.nav-left {
    // position: absolute;
    flex-grow: 1;
    padding-left: 15px;
}
.nav-center{
    flex-grow: 1;
}

#nav-logo {
    font-family: "RNS BARUTA BLACK";
    color: $text-logo-green;
    font-size: 26px;
    font-weight: 900;
    position: relative;
    left: -3%;
    top: -2px;
}

.nav-right {
    // flex-grow: 1;
    display: flex;
    padding: 12px 24px 12px 0;
}

.nav-button {
    border: none;
    background: white;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: $text-black;
    letter-spacing: 0.4px;
    padding: 0 7px;
}

.nav-button:hover {
    color: $text-dark-green;
    // cursor: pointer;
}

#search-icon {
    padding: 0 6px;
    font-weight: 100;
}

.nav-button:focus {
    outline: none;
}

.search-bar {
    width: 100%;
    height: 66px;
    display: none;
    border: none;
    position: absolute;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.17);
    box-sizing: border-box;
    z-index: 1000;
}

#search-container {
    display: flex;
    position: relative;
}

#search-input {
    width: calc(100% - 78px);
    height: 62px;
    padding: 1px 1px 1px 42px;
    border: none;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 18px;
    background-color: white;
    transition: all 300ms cubic-bezier(0.175, 0.885, 0.335, 1);
    position: absolute;
    top: 1px;
}

#search-input:hover {
    border: none;
}

#search-close-btn {
    height: 60px;
    width: 60px;
    border: none;
    background-color: white;
    font-weight: 100;
    margin-right: 18px;
    position: absolute;
    top: 1px;
    right: 0px;
    z-index: 1000;
}

.nav-avatar{ 
    margin-left: 12px;
    height: 36px;
    width: 36px;
    border-radius: 36px;
}

.user-dropdown {
    display: none;
    background-color: white;
    z-index: 100;
    border: 1px solid $border-gray;
    position: absolute;
    right: 20px;
    top: 70px;
    color: $text-dark-gray;
}

.dropdown-container {
    margin: 0 12px;
}

.dropdown-title {
    padding: 24px;
    font-size: 12px;
    font-weight: 500;
}

.dropdown-item-list {
    font-size: 14px;
    padding: 0 36px 12px 24px;
    border-bottom: 1px solid $border-gray;
}

.dropdown-item-list li {
    margin: 12px 0;
}

.dropdown-item-list li:hover {
    color: #4c6cf8;
    text-decoration: underline;
}

.logout-btn {
    padding: 30px;
    border: none;
    font-size: 14px;
}

.explore-dropdown{
    position: absolute;
    // width: 1000px;
    width: 100%;
    height: 1000px;
    top: 0;
    left: 0;
    background-color: #FBFBFA;
    z-index:900;
    display: none;
}

.ex-dropdown-container {
    padding: 24px 0 120px;
}

.ex-close-container {
    margin: 0 60px;
    display: flex;
    justify-content: space-between;
    color: $text-dark-green;
    letter-spacing: 0.5px;
    line-height: 125%;
    border-bottom: 1px solid $border-gray;
}

.ex-dropdown-title {
    font-size: 16px;
    padding: 12px 0;
    font-weight: 300;
}

.ex-close-btn {
    border: none;
    color: $text-dark-green;
    font-size: 20px;
}

.ex-dropdown-item-list {
    padding: 48px 60px 0;
}

.ex-dropdown-item-list li {
    margin-bottom: 12px;
    font-size: 34px;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 42px;
}

.show {
    display: block;
}
