// Place all the styles related to the api/projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "./style";

.project-top-frame {
    border-bottom: 1px solid $border-gray;
}

.project-header-frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $background-white;
    padding: 0 60px;
    // width: 1366px;
}

.project-title-container {
    margin: 42px 18px 36px 18px;
}

.project-header-title {
    text-transform: capitalize;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 6px;
    line-height: 30px;
}

.project-header-subtitle {
    text-transform: capitalize;
    font-size: 18px;
    margin-bottom: 6px;
}

.project-content-container {
    // margin: 0 149px;
    padding: 0 60px;
    display: flex;
    height: 520px;
    min-width: 700px;
    max-width: 1366px;
    box-sizing: content-box;
}

.content-image-container {
    width: 66.6%;
    padding: 0 18px 30px;
}

.content-image {
    max-width: 100%;
    max-height: 100%;
}

.content-info-container {
    width: 33.3%;
    display: flex;
    flex-direction: column;
    padding: 0 18px;
}

.content-info-unit {
    color: $text-dark-gray;
    font-size: 14px;
    margin-bottom: 15px;
    font-weight: 300;
    letter-spacing: 0.4px;
}

.content-info-number {
    color: $text-dark-gray;
    font-size: 28px;
    margin: 6px 0;
}

.content-info-funding {
    color: $text-green;
    margin-top: 15px;
}

.funding-bar-frame {
    display: flex;
    height: 6px;
    // width: 100%;
}

.project-menu-frame {
    height: 72px;
    border-top: 1px solid $border-gray;
    border-bottom: 1px solid $border-gray;
}

.project-menu {
    margin: 0 150px;
    padding: 0 60px;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 14px
}

.project-menu li:hover{
    cursor: pointer;
    color: $text-green;
}

.project-body-frame {
    margin: 0 auto;
    max-width: 1366px;
    padding: 48px 18px 48px 60px;
    display: flex;
}

.project-body-1-2 {
    width: 66.6%;
    display: flex;
    padding: 0 18px;
}

.body-sidebar {
    width: 16.6%;
    max-width: 123px;
    padding: 0 18px 24px 0;
}

.body-sidebar-item {
    color: $text-dark-gray;
    padding: 0 0 18px 0;
    font-size: 13px;
    border-bottom: 1px solid $border-gray;
    // width: 100%;
}

.body-sidebar-item:hover {
    cursor: pointer;
    color: $text-green;
}

.project-body-main {
    width: 83.3%;
    padding: 0 18px;
}

.project-body-title {
    font-size: 21px;
    line-height: 30px;
    font-weight: 300;
    padding: 0 0 30px 0;
}

.project-body-text {
    font-size: 18px;
    padding: 0 0 30px 0;
    color: $text-black;
    font-weight: 300;
    line-height: 150%;
}

.project-body-2-2 {
    width: 33.3%;
    max-width: 336px;
    display: flex;
    flex-direction: column;
    padding: 0 18px;
}

.project-user-profile {
    border: 1px solid $border-gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.project-avatar-container {
    position: absolute;
    height: 72px;
    width: 72px;
    border-radius: 50%;
    overflow: hidden;
    top: -36px;
    left: 50%;
    margin-left: -36px;
}

.project-user-avatar{
    height: 72px;
    width: 72px;
}

.project-user-info {
    padding: 54px 18px 18px;
}

.project-profile-name {
    font-size: 16px;
    font-weight: 500;
    padding: 0 0 18px;
}

.project-profile-bio {
    font-size: 14px;
}

.bar-light-green {
    background-color: #009E74;
}