@import "./style";

.reward-sub-header {
    margin: 48px 0;
}

.reward-sub-frame {
    display: flex;
    justify-content: space-between;
}

.form-header-title {
    font-size: 21px;
}

.show-form-btn-container{
    width: inherit
}

.btn-black {
    background-color: black;
    width: inherit;
    padding: 0 24px;
    transition: all 0.25s ease-in-out;
}

.btn-black:hover {
    background-color: $btn-black-hover;
}

.reward-input-frame {
    display: flex;
    flex-direction: column;;
    padding: 48px 0 0 0;
    border-bottom: 1px solid $border-gray;
}

.reward-delivery {
    display: flex;
}

.month-dropdown {
    margin: 0 20px 48px 0;
}

.year-dropdown {
    margin-bottom: 48px;
}


.reward-desc-title {
    font-size: 16px;
    font-weight: 400;
}

.reward-desc-body {
    font-size: 14px;
    margin: 6px 0;
    color: $text-dark-gray;
}

.reward-textarea {
    height: 70px;
    border: 1px solid $border-gray;
    padding: 12px;
}

.reward-textarea:focus {
    border: 1px solid $border-green;
    outline: none;
}



