@import "./style";

.reward-list-frame {
    letter-spacing: 0;
    font-weight: 300;
    transition: all 0.25s ease-in-out;
}

.reward-list-item-frame:hover {
    box-shadow: 0 3px 6px 1px rgba(0,0,0,0.17);
}

.reward-list-menu {
    display: flex;
    padding: 12px 0;
    font-size: 12px;
    line-height: 15px;
}

.reward-list-data {
    display: flex;
    border: 1px solid $border-gray;
    border-bottom: none;
    padding: 24px 0 42px 0;
    font-size: 18px;
    color: $text-black;
    line-height: 21px;
    letter-spacing: 0px;
}

.cell-first {
    width: 30%;
    padding: 0 36px;
}

.cell-second {
    width: 45%;
    padding: 0 36px;
}

.list-reward-title {
    margin: 0 0 18px;
}

.list-delivery {
    font-size: 14px;
}

.reward-list-bottom {
    display: flex;
    justify-content: flex-end;
    border: 1px solid $border-gray;
    padding: 12px 0;
    margin-bottom: 12px;
}

.btn-delete {
    border: none;
    color: $text-dark-gray;
    font-size: 14px;
    padding-right: 36px;
    line-height: 18px;;
}